#hour{
float:left; 
background-color:rgba(220,200,220,1);
color:black;
margin:20px;
}
#min{
float:left; 
background-color:rgba(220,200,220,1);
color:black;
margin:20px;
}
#sec{
float:left; 
background-color:rgba(220,200,220,1);
color:black;
margin:20px;
}
